%a{onCLick: 'Z0Z0.v2.shortlists.goTop()',class: 'btn btn-primary btn-fab fab-positioning'}
  %i{class: 'material-icons'}arrow_upward
%a#shortlist_settings_button{href: 'javascript:void(0)', class: 'btn btn-primary btn-fab btn-group-sm fab-positioning shortlist-settings-fab-button shortlist-sm-buttons', data: {toggle: 'modal', target: '#shortlist_settings_modal'}}
  %i{class: 'material-icons', title: 'Shortlist Settings', data: {toggle: 'tooltip', placement: 'top'}}settings
%a#shortlist_books_button{href: 'javascript:void(0)', class: 'btn btn-primary btn-fab btn-group-sm fab-positioning shortlist-books-fab-button shortlist-sm-buttons', data: {toggle: 'modal', target: '#shortlist_books_modal'}}
  %i{class: 'material-icons', title: 'Shortlist Books', data: {toggle: 'tooltip', placement: 'top'}}recent_actors
%a{onClick: "Z0Z0.v2.shortlists.goDashboard()", class: 'btn btn-primary btn-fab fab-positioning shortlist-sm-buttons shortlist_back_button'}
  %i{class: 'material-icons', title: 'Go to dashboard', data: {toggle: 'tooltip', placement: 'top'}}arrow_back
