


%h1 New Article

= render 'form'

= link_to 'Back', articles_path, id: "articles_new_url"

%div{:class => "div_container"}
  %input{:type=> "checkbox", :id => "sample-pack-55"}

%div{:class => "price-display"} Add to cart - £406.29
